@charset "UTF-8";
/* ==========================================================================
HTML5 display definitions
========================================================================== */
/**
* Correct `block` display not defined in IE 8/9.
*/
/* line 33, ../sass/frontastic/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
* Correct `inline-block` display not defined in IE 8/9.
*/
/* line 43, ../sass/frontastic/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/**
* Prevent modern browsers from displaying `audio` without controls.
* Remove excess height in iOS 5 devices.
*/
/* line 52, ../sass/frontastic/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
* Address styling not present in IE 8/9.
*/
/* line 61, ../sass/frontastic/_normalize.scss */
[hidden] {
  display: none;
}

    /* ==========================================================================
	Base
	========================================================================== */
/**
* 1. Prevent system color scheme's background color being used in Firefox, IE,
* and Opera.
* 2. Prevent system color scheme's text color being used in Firefox, IE, and
* Opera.
* 3. Set default font family to sans-serif.
* 4. Prevent iOS text size adjust after orientation change, without disabling
* user zoom.
*/
/* line 81, ../sass/frontastic/_normalize.scss */
html {
  background: #fff;
  /* 1 */
  color: #000;
  /* 2 */
  font-family: sans-serif;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 4 */
  -webkit-text-size-adjust: 100%;
  /* 4 */
}

/**
* Remove default margin.
*/
/* line 93, ../sass/frontastic/_normalize.scss */
body {
  margin: 0;
}

@media (min-width: 0px) {
  /* line 33, ../sass/frontastic/_core.scss */
  body::before {
    content: "mobile";
    display: none;
  }
}
/* line 146, ../sass/frontastic/_core.scss */
.grid-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 10000;
  background: -webkit-linear-gradient(left, transparent 20px, rgba(0, 128, 0, 0.2) 20px, rgba(0, 128, 0, 0.2) 80px);
  background: -moz-linear-gradient(left, transparent 20px, rgba(0, 128, 0, 0.2) 20px, rgba(0, 128, 0, 0.2) 80px);
  background: -o-linear-gradient(left, transparent 20px, rgba(0, 128, 0, 0.2) 20px, rgba(0, 128, 0, 0.2) 80px);
  background: linear-gradient(left, transparent 20px, rgba(0, 128, 0, 0.2) 20px, rgba(0, 128, 0, 0.2) 80px);
  left: 0;
  right: 20px;
  -webkit-background-size: 25%;
  -moz-background-size: 25%;
  -o-background-size: 25%;
  background-size: 25%;
}

/* line 176, ../sass/frontastic/_core.scss */
.baseline-overlay, html {
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.2)), color-stop(5%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.2) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.2) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.2) 5%, rgba(0, 0, 0, 0) 5%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.2) 5%, rgba(0, 0, 0, 0) 5%);
  -webkit-background-size: 100% 21px;
  -moz-background-size: 100% 21px;
  -o-background-size: 100% 21px;
  background-size: 100% 21px;
  background-position: left top;
  z-index: 1000;
}

/* Grid based on https://github.com/necolas/griddle by Nicolas Gallagher (@necolas) */
/* line 4, ../sass/frontastic/_grid.scss */
body {
  font-size: 1em;
}

/* line 8, ../sass/frontastic/_grid.scss */
.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.42857em;
  padding-right: 1.42857em;
}

/* line 16, ../sass/frontastic/_grid.scss */
img {
  max-width: 100%;
}

/* line 17, ../sass/frontastic/_grid.scss */
.no-js .responsive-image {
  display: none;
}

/* line 21, ../sass/frontastic/_grid.scss */
.grid {
  display: block;
  padding: 0;
  margin: 0 -0.71429em;
  text-align: left;
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
}

/* line 37, ../sass/frontastic/_grid.scss */
.grid :-o-prefocus,
.grid {
  word-spacing: -0.43em;
}

/* line 43, ../sass/frontastic/_grid.scss */
.grid > .grid {
  overflow: hidden;
  margin-right: 0;
  margin-left: 0;
}

/* line 52, ../sass/frontastic/_grid.scss */
.grid-cell {
  width: 100%;
  display: -moz-inline-stack;
  display: inline-block;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0.71429em;
  /* controls vertical positioning of units */
  vertical-align: top;
  /* keeps unit content correctly aligned */
  text-align: left;
  /* reset text defaults */
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
}

/* line 81, ../sass/frontastic/_grid.scss */
.grid-center {
  text-align: center;
}

/* line 86, ../sass/frontastic/_grid.scss */
.grid-cell-center {
  display: block;
  margin: 0 auto;
}

@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?59777485");
  src: url("../font/fontello.eot?59777485#iefix") format("embedded-opentype"), url("../font/fontello.woff?59777485") format("woff"), url("../font/fontello.ttf?59777485") format("truetype"), url("../font/fontello.svg?59777485#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?59777485#fontello') format('svg');
  }
}
*/
/* line 24, ../sass/style/typography/_fontello.scss */
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

/* line 55, ../sass/style/typography/_fontello.scss */
.icon-gplus:before {
  content: '\2b';
}

/* '+' */
/* line 56, ../sass/style/typography/_fontello.scss */
.icon-eq:before {
  content: '\3d';
}

/* '=' */
/* line 57, ../sass/style/typography/_fontello.scss */
.icon-appstore:before {
  content: '\41';
}

/* 'A' */
/* line 58, ../sass/style/typography/_fontello.scss */
.icon-home:before {
  content: '\2302';
}

/* '⌂' */
/* line 59, ../sass/style/typography/_fontello.scss */
.icon-up-dir:before {
  content: '\25b4';
}

/* '▴' */
/* line 60, ../sass/style/typography/_fontello.scss */
.icon-right-dir:before {
  content: '\25b8';
}

/* '▸' */
/* line 61, ../sass/style/typography/_fontello.scss */
.icon-down-dir:before {
  content: '\25be';
}

/* '▾' */
/* line 62, ../sass/style/typography/_fontello.scss */
.icon-left-dir:before {
  content: '\25c2';
}

/* '◂' */
/* line 63, ../sass/style/typography/_fontello.scss */
.icon-menu:before {
  content: '\2630';
}

/* '☰' */
/* line 64, ../sass/style/typography/_fontello.scss */
.icon-mail:before {
  content: '\2709';
}

/* '✉' */
/* line 65, ../sass/style/typography/_fontello.scss */
.icon-right:before {
  content: '\27a1';
}

/* '➡' */
/* line 66, ../sass/style/typography/_fontello.scss */
.icon-left:before {
  content: '\2b05';
}

/* '⬅' */
/* line 67, ../sass/style/typography/_fontello.scss */
.icon-up:before {
  content: '\2b06';
}

/* '⬆' */
/* line 68, ../sass/style/typography/_fontello.scss */
.icon-down:before {
  content: '\2b07';
}

/* '⬇' */
/* line 69, ../sass/style/typography/_fontello.scss */
.icon-user:before {
  content: '\e013';
}

/* '' */
/* line 70, ../sass/style/typography/_fontello.scss */
.icon-trash:before {
  content: '\e01b';
}

/* '' */
/* line 71, ../sass/style/typography/_fontello.scss */
.icon-arrows-cw:before {
  content: '\e04f';
}

/* '' */
/* line 72, ../sass/style/typography/_fontello.scss */
.icon-plus:before {
  content: '\e05a';
}

/* '' */
/* line 73, ../sass/style/typography/_fontello.scss */
.icon-minus-1:before {
  content: '\e076';
}

/* '' */
/* line 74, ../sass/style/typography/_fontello.scss */
.icon-location:before {
  content: '\e07a';
}

/* '' */
/* line 75, ../sass/style/typography/_fontello.scss */
.icon-right-hand:before {
  content: '\e08c';
}

/* '' */
/* line 76, ../sass/style/typography/_fontello.scss */
.icon-left-hand:before {
  content: '\e08d';
}

/* '' */
/* line 77, ../sass/style/typography/_fontello.scss */
.icon-down-hand:before {
  content: '\e08e';
}

/* '' */
/* line 78, ../sass/style/typography/_fontello.scss */
.icon-up-hand:before {
  content: '\e0b5';
}

/* '' */
/* line 79, ../sass/style/typography/_fontello.scss */
.icon-doc:before {
  content: '\e0c1';
}

/* '' */
/* line 80, ../sass/style/typography/_fontello.scss */
.icon-googleplus:before {
  content: '\e0fc';
}

/* '' */
/* line 81, ../sass/style/typography/_fontello.scss */
.icon-down-circled-1:before {
  content: '\e758';
}

/* '' */
/* line 82, ../sass/style/typography/_fontello.scss */
.icon-left-circled-1:before {
  content: '\e759';
}

/* '' */
/* line 83, ../sass/style/typography/_fontello.scss */
.icon-right-circled-1:before {
  content: '\e75a';
}

/* '' */
/* line 84, ../sass/style/typography/_fontello.scss */
.icon-up-circled-1:before {
  content: '\e75b';
}

/* '' */
/* line 85, ../sass/style/typography/_fontello.scss */
.icon-down-open:before {
  content: '\f004';
}

/* '' */
/* line 86, ../sass/style/typography/_fontello.scss */
.icon-up-open:before {
  content: '\f005';
}

/* '' */
/* line 87, ../sass/style/typography/_fontello.scss */
.icon-right-open:before {
  content: '\f006';
}

/* '' */
/* line 88, ../sass/style/typography/_fontello.scss */
.icon-left-open:before {
  content: '\f007';
}

/* '' */
/* line 89, ../sass/style/typography/_fontello.scss */
.icon-left-circled:before {
  content: '\f0a8';
}

/* '' */
/* line 90, ../sass/style/typography/_fontello.scss */
.icon-right-circled:before {
  content: '\f0a9';
}

/* '' */
/* line 91, ../sass/style/typography/_fontello.scss */
.icon-up-circled:before {
  content: '\f0aa';
}

/* '' */
/* line 92, ../sass/style/typography/_fontello.scss */
.icon-down-circled:before {
  content: '\f0ab';
}

/* '' */
/* line 93, ../sass/style/typography/_fontello.scss */
.icon-mail-alt:before {
  content: '\f0e0';
}

/* '' */
/* line 94, ../sass/style/typography/_fontello.scss */
.icon-angle-left:before {
  content: '\f104';
}

/* '' */
/* line 95, ../sass/style/typography/_fontello.scss */
.icon-angle-right:before {
  content: '\f105';
}

/* '' */
/* line 96, ../sass/style/typography/_fontello.scss */
.icon-angle-up:before {
  content: '\f106';
}

/* '' */
/* line 97, ../sass/style/typography/_fontello.scss */
.icon-angle-down:before {
  content: '\f107';
}

/* '' */
/* line 98, ../sass/style/typography/_fontello.scss */
.icon-desktop:before {
  content: '\f108';
}

/* '' */
/* line 99, ../sass/style/typography/_fontello.scss */
.icon-laptop:before {
  content: '\f109';
}

/* '' */
/* line 100, ../sass/style/typography/_fontello.scss */
.icon-tablet:before {
  content: '\f10a';
}

/* '' */
/* line 101, ../sass/style/typography/_fontello.scss */
.icon-mobile:before {
  content: '\f10b';
}

/* '' */
/* line 102, ../sass/style/typography/_fontello.scss */
.icon-facebook:before {
  content: '\f300';
}

/* '' */
/* line 103, ../sass/style/typography/_fontello.scss */
.icon-facebook-rect:before {
  content: '\f301';
}

/* '' */
/* line 104, ../sass/style/typography/_fontello.scss */
.icon-twitter-bird:before {
  content: '\f303';
}

/* '' */
/* line 105, ../sass/style/typography/_fontello.scss */
.icon-twitter-squared:before {
  content: '\f304';
}

/* '' */
/* line 106, ../sass/style/typography/_fontello.scss */
.icon-github-text:before {
  content: '\f307';
}

/* '' */
/* line 107, ../sass/style/typography/_fontello.scss */
.icon-github:before {
  content: '\f308';
}

/* '' */
/* line 108, ../sass/style/typography/_fontello.scss */
.icon-skype:before {
  content: '\f30b';
}

/* '' */
/* line 109, ../sass/style/typography/_fontello.scss */
.icon-vimeo-rect:before {
  content: '\f30e';
}

/* '' */
/* line 110, ../sass/style/typography/_fontello.scss */
.icon-vimeo:before {
  content: '\f30f';
}

/* '' */
/* line 111, ../sass/style/typography/_fontello.scss */
.icon-tumblr-rect:before {
  content: '\f310';
}

/* '' */
/* line 112, ../sass/style/typography/_fontello.scss */
.icon-tumblr:before {
  content: '\f311';
}

/* '' */
/* line 113, ../sass/style/typography/_fontello.scss */
.icon-friendfeed:before {
  content: '\f312';
}

/* '' */
/* line 114, ../sass/style/typography/_fontello.scss */
.icon-friendfeed-rect:before {
  content: '\f313';
}

/* '' */
/* line 115, ../sass/style/typography/_fontello.scss */
.icon-blogger:before {
  content: '\f314';
}

/* '' */
/* line 116, ../sass/style/typography/_fontello.scss */
.icon-blogger-rect:before {
  content: '\f315';
}

/* '' */
/* line 117, ../sass/style/typography/_fontello.scss */
.icon-linkedin:before {
  content: '\f31a';
}

/* '' */
/* line 118, ../sass/style/typography/_fontello.scss */
.icon-linkedin-rect:before {
  content: '\f31b';
}

/* '' */
/* line 119, ../sass/style/typography/_fontello.scss */
.icon-picasa:before {
  content: '\f31c';
}

/* '' */
/* line 120, ../sass/style/typography/_fontello.scss */
.icon-wordpress:before {
  content: '\f31d';
}

/* '' */
/* line 121, ../sass/style/typography/_fontello.scss */
.icon-instagram:before {
  content: '\f31e';
}

/* '' */
/* line 122, ../sass/style/typography/_fontello.scss */
.icon-instagram-filled:before {
  content: '\f31f';
}

/* '' */
/* line 123, ../sass/style/typography/_fontello.scss */
.icon-phone:before {
  content: '📞';
}

/* '\1f4de' */
/* line 124, ../sass/style/typography/_fontello.scss */
.icon-block:before {
  content: '🚫';
}

/* '\1f6ab' */
/* line 61, ../../../../../Program Files/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 87.5%;
}

/* line 64, ../../../../../Program Files/compass.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 14px;
  line-height: 1.5em;
}

/* header titles (for changing modular-scale ratio, see modular-scale.scss) */
/* line 9, ../sass/style/typography/_typography.scss */
h1 {
  font-size: 4.21429em;
  line-height: 1.0678em;
  margin-top: 0.35593em;
  margin-bottom: 0.35593em;
}

/* line 13, ../sass/style/typography/_typography.scss */
h2 {
  font-size: 2.64286em;
  line-height: 1.13514em;
  margin-top: 0.56757em;
  margin-bottom: 0.56757em;
}

/* line 17, ../sass/style/typography/_typography.scss */
h3 {
  font-size: 1.64286em;
  line-height: 1.82609em;
  margin-top: 0.91304em;
  margin-bottom: 0.91304em;
}

/* line 21, ../sass/style/typography/_typography.scss */
h4, h5, h6 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* other block elements */
/* line 27, ../sass/style/typography/_typography.scss */
p, ul, ol, dl, blockquote, form {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* blockquote */
/* line 32, ../sass/style/typography/_typography.scss */
blockquote {
  border-left: 3px solid rgba(0, 0, 0, 0.1);
  padding-left: 1em;
}

/* Fix for inline elements vertical rhythm */
/* line 37, ../sass/style/typography/_typography.scss */
b, strong, small, em, abbr, label {
  line-height: 0em;
}

@media (min-width: 46.25em) {
  /* line 146, ../sass/frontastic/_core.scss */
  .grid-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 10000;
    background: -webkit-linear-gradient(left, transparent 20px, rgba(0, 128, 0, 0.2) 20px, rgba(0, 128, 0, 0.2) 80px);
    background: -moz-linear-gradient(left, transparent 20px, rgba(0, 128, 0, 0.2) 20px, rgba(0, 128, 0, 0.2) 80px);
    background: -o-linear-gradient(left, transparent 20px, rgba(0, 128, 0, 0.2) 20px, rgba(0, 128, 0, 0.2) 80px);
    background: linear-gradient(left, transparent 20px, rgba(0, 128, 0, 0.2) 20px, rgba(0, 128, 0, 0.2) 80px);
    left: 50%;
    width: 52.85714em;
    margin-left: -26.42857em;
    -webkit-background-size: 80px;
    -moz-background-size: 80px;
    -o-background-size: 80px;
    background-size: 80px;
  }

  /* line 129, ../sass/frontastic/_core.scss */
  body::before {
    content: "tablet";
  }

  /* line 137, ../sass/frontastic/_core.scss */
  .wrapper {
    width: 50em;
  }
}
@media (min-width: 61.25em) {
  /* line 146, ../sass/frontastic/_core.scss */
  .grid-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 10000;
    background: -webkit-linear-gradient(left, transparent 20px, rgba(0, 128, 0, 0.2) 20px, rgba(0, 128, 0, 0.2) 80px);
    background: -moz-linear-gradient(left, transparent 20px, rgba(0, 128, 0, 0.2) 20px, rgba(0, 128, 0, 0.2) 80px);
    background: -o-linear-gradient(left, transparent 20px, rgba(0, 128, 0, 0.2) 20px, rgba(0, 128, 0, 0.2) 80px);
    background: linear-gradient(left, transparent 20px, rgba(0, 128, 0, 0.2) 20px, rgba(0, 128, 0, 0.2) 80px);
    left: 50%;
    width: 70em;
    margin-left: -35em;
    -webkit-background-size: 80px;
    -moz-background-size: 80px;
    -o-background-size: 80px;
    background-size: 80px;
  }

  /* line 129, ../sass/frontastic/_core.scss */
  body::before {
    content: "tablet";
  }

  /* line 137, ../sass/frontastic/_core.scss */
  .wrapper {
    width: 67.14286em;
  }
}
