// Import components
// =============================================================================


// Slideshow Bob Style
.slideshow {
	
	img {
		//max-height: rhythm(10);}
	}
	
	.controls {
		color: $turquoise;
		text-align : center;
		.next, .prev {
			cursor: pointer;
			padding: 0 fixed(0.4) ;
			@include adjust-font-size-to(30px) ;}
	}

	.pills {
		text-align: center ; 
		padding-left: 0 ;
		width: 100% ; 
		margin-bottom: 0 ; 
		li {
			height: 12px ;
			width: 12px;
			@include border-radius(15px) ; 
			background-color: $turquoise ; 
			display: inline-block ; 
			cursor: pointer ; 
			margin-right: 1em ; 
			&.active {
				background-color: $red;}
			&:last-child {
				margin-right: 0;
			}
		}
	}
	
}