// ==========================================================================
// normalize config (uncomment variables to activate reset sections)
// ==========================================================================

$normalize-html5: true;
$normalize-base: true;
// $normalize-links: true;
// $normalize-typography: true;
// $normalize-embedded: true;
// $normalize-figures: true;
// $normalize-forms: true;
// $normalize-tables: true;


// other resets
// ==========================================================================

// $print-styles: true;


// Grid Variables
// =============================================================================

$grid-column: 60px; // width of a column
$grid-gutter: 20px; // width of gutter between column

$grid-overlay: true; // generate visual grid overlay
$grid-lines: true; // generate horizontal lines for vertical align

$ie-support: false; // fallback breakpoint for IE

$base-font-size: 14px;
$base-line-height: 21px;
